.border{
    border :2px solid red;
    margin :3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-gray{
    background-color: #121212;
    color:white
}

.bg-light-gray{
    background-color: #242424;
    color: white;
}

.invert{
    filter: invert(1);
}

.rounded{
    border-radius: 5px;
}

.p-1{
    padding: 15px 20px 1px;
}

.p-2{
    padding: 16px;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}